{% extends 'page/base.html' %}
{% block desc%}<meta name="description" content="Apple smartphone: New smartphone review and specification, buy at best price from amazon. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="iphone best mobile, apple mobile , iphone mobile at price,  apple mobile ka rate, apple mobile all price, apple mobile phones youtube review"> {% endblock key%}
  {% load static %}
    {% block title%}Apple smartphone: review , specifications and price{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block actapp%} class="active"{% endblock actapp%}
    {% block content%}
    <!-- content -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/apple/apple-11-pro-max-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Apple 11 Pro Max: 4/64GB for 1,17,100 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">Apple Release his new <span>Apple 11 Pro Max</span> in india on 2019, September 20 start from <span>1,17,100</span>. Apple 11 Pro Max Available at <span>flipkart</span> in lowest prices. This smartphone coming with 3 variants like 64GB 4GB RAM, 256GB 4GB RAM, 512GB 4GB RAM with colour options like Space Gray, Silver, Gold, Midnight Green. The smart -phone is powered by the <span>Apple A13 Bionic (7 nm+)</span> and Non-removable Li-Ion 3969 mAh battery (15.04 Wh). It has support for Fast charging 18W, 50% in 30 min.  </p>
          <a href="{% url '11ProMax' %}" class="content_spec" class="">Full Specificaton</a>
         <p></p>
          <a href="#" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
          <a href="#" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
        </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/apple/apple-11-1.jpeg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Apple 11: 4/64GB for 68,300 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">Apple Release his brand new <span>Apple 11</span> in india on  2019, September 20 and start from <span>68,300</span>.Apple 11 Available at <span>flipkart</span> in lowest prices. This smartphone coming with 3 variants like 64GB 4GB RAM, 128GB 4GB RAM, 256GB 4GB RAM with colour options like Black, Green, Yellow, Purple, Red and White. The smart -phone is powered by the <span>	Apple A13 Bionic (7 nm+)</span>and Non-removable Li-Ion 3110 mAh battery. It has support Fast charging 18W, 50% in 30 min.</p>
          <a href="{% url 'iphone11' %}" class="content_spec" class="">Full Specificaton</a>
         <p></p>
          <a href="#" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
          <a href="#" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
         </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/apple/apple-se-1.png' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Apple SE: 3/64GB for 42,500 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">Apple Release his new <span>Apple SE</span> in india on Released 2020, April 24 and start from <span>42,500</span>. Apple SE Available at <span>flipkart</span> in lowest prices. This smartphone coming with 3 variants like 	64GB 3GB RAM, 128GB 3GB RAM and 256GB 3GB RAM with colour options like Aurora Blue, Glacier White, and Interstellar Black. The smart -phone is powered by the <span>Apple A13 Bionic (7 nm+)</span> and Non-removable Li-Ion 1821 mAh battery. It has support Fast charging 18W, 50% in 30 min.  </p>
          <a href="{% url 'iphoneSE' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="#" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
          <a href="#" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
         </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/apple/apple-x-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Apple X: 3/256GB for 79,990 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">Apple Released his new <span>Apple X</span>in india on 2017, November 03 and starting from <span>79,990</span>.Apple X Available at <span>flipkart</span> in lowest prices. This smartphone coming with 2 variants like 64GB 3GB RAM, 256GB 3GB RAM with colour options like 	Space Gray, Silver. The smart -phone is powered by the <span>Apple A11 Bionic (10 nm)</span> and	Non-removable Li-Ion 2716 mAh battery. It has support for Fast charging 15W, 50% in 30 min.</p>
          <a href="{% url 'iphoneX' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="#" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
          <a href="#" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
          <p></p>
          </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/apple/apple-iphone-7-plus-1.jpeg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Apple 7 Plus: 3/32GB for 36,999 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">Apple Released his new <span>Apple 7 Plus </span>in india on 2016, September 07 and starting from <span>36,999</span>.Apple 7 Plus Available at <span>flipkart</span> in lowest prices. This smartphone coming with 3 variants like 32GB 3GB RAM, 128GB 3GB RAM, 256GB 3GB RAM with colour options like Black, Red, Yellow, Blue, Coral, White. The smart -phone is powered by the <span>Apple A10 Fusion (16 nm)</span> and	Non-removable Li-Ion 2900 mAh battery.</p>
          <a href="{% url 'iphone7Plus' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="#" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
          <a href="#" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
          <p></p>
         </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/apple/apple-iphone-8-1.jpeg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Apple 8: 2/64GB for 38,999 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">Apple Released his new <span>Apple 8</span>in india on  2017, September 22 and starting from <span>38,999</span>.Apple 8 Available at <span>flipkart</span> in lowest prices. This smartphone coming with 2 variants like 64GB 2GB RAM, 256GB 2GB RAM with colour options like Silver, Space Gray, Gold, Red. The smart -phone is powered by the <span>Apple A11 Bionic (10 nm)</span> and	Non-removable Li-Ion 1821 mAh battery. It has support for Fast charging 15W, 50% in 30 min.</p>
          <a href="{% url 'iphone8' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="#" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
          <a href="#" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
          <p></p>
         </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/apple/Apple-iphone-7-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Apple 7: 2/32GB for 29,499 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">Apple Released his new <span>Apple 7</span>in india on Released 2016, September 16 and starting from <span>29,499</span>.Apple 7 Available at <span>flipkart</span> in lowest prices. This smartphone coming with 3 variants like 32GB 2GB RAM, 128GB 2GB RAM, 256GB 2GB RAM with colour options like 	Jet Black, Black, Silver, Gold, Rose Gold, Red. The smart -phone is powered by the <span>	Apple A10 Fusion (16 nm)</span> and	Non-removable Li-Ion 1960 mAh battery.</p>
          <a href="{% url 'iphone7' %}" class="content_spec" class="">Full Specificaton</a>
         <p></p>
          <a href="#" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
          <a href="#" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
          <p></p>
          </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/apple/Apple-iphone-XR-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Apple XR: 3/64GB for 52,500 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">Apple Released his new <span>Apple XR</span>in india on 2018, October 26 and starting from <span>52,500</span>.Apple XR Available at <span>Amazon</span> in lowest prices. This smartphone coming with 3 variants like 	64GB 3GB RAM, 128GB 3GB RAM, 256GB 3GB RAM with colour options like S	Black, Red, Yellow, Blue, Coral, White. The smart -phone is powered by the <span>Apple A12 Bionic (7 nm)</span> and 	Non-removable Li-Ion 2942 mAh battery.It has support for Fast charging 15W, 50% in 30 min.</p>
          <a href="{% url 'iphoneXR' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="#" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
          <a href="#" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
         </div>
      </div>
    </div>
    <!-- 9 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/apple/apple-iphone-6s-1.jpeg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Apple 6s: 2/32GB for 29,740 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">Apple Released his new <span>Apple 6s</span>in india on  2015, September 25 and starting from <span>29,740</span>.Apple 6s Available at <span>Amazon</span> in lowest prices. This smartphone coming with 4 variants like 	16GB 2GB RAM, 32GB 2GB RAM, 64GB 2GB RAM, 128GB 2GB RAM with colour options like Black, Red, Ye low, Blue, Coral, White. The smart -phone is powered by the <span>Apple A9 (14 nm)</span> and Non-removable Li-Ion 2750 mAh battery.</p>
          <a href="{% url 'iphone6s' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="#" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
          <a href="#" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
          <p></p>
         </div>
      </div>
    </div>
    <!-- 10 -->
    <!-- footer -->
    {% endblock content%}
