{% extends 'page/base.html' %}
{% block desc%}<meta name="description" content="Realme smartphone: New smartphone review and specification, buy at best price from amazon. "> {% endblock desc%}
{% block key%}<meta name="keywords" content="realme mobile price, realme mobile price in india, realme mobile price list, realme mobile under 10000, realme mobile company, realme mobile 2, realme mobile available, realme mobile amazon"> {% endblock key%}
  {% load static %}
    {% block title%}Realme{% endblock title%}
    {% block actmob%} class="active"{% endblock actmob%}
    {% block actreal%} class="active"{% endblock actreal%}
    {% block content%}
    <!-- content -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/realme/realme-x50-pro-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Realme X50 Pro 5G: 6/128GB for 39999 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">Realme Release his new smartphone <span>Realme X50 Pro 5G</span> in india starting from <span>39999</span>. Realme X50 Pro Available at <span>flipkart</span> in lowest prices. This smartphone coming with 4 variants like 6/128GB, 8/128GB, 8/256GB, 12/256GB with colour options like A Moss Green, Rust Red. The smart -phone is powered by the <span>Qualcomm SM8250 Snapdragon 865 (7 nm+)</span> and Non-removable Li-Po 4200 mAh battery. Fast charging 65W, 100% in 35 min and SuperDart Flash Charge. In Realme X50 Pro it has support for 5G nework.  </p>
          <a href="{% url 'realmeX50pro' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="#" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
          <a href="#" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
         </div>
      </div>
    </div>
    <!-- 2 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/realme/realme-6-pro-1.jpeg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Realme 6 Pro: 6/64GB for 17999 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">Realme Release his brand new <span>Realme 6 Pro</span> in india on  2020, March 13 and starting from <span> 17999</span>.realme 6 Pro Available at <span>flipkart</span> in lowest prices. This smartphone coming with 3 variants like 64GB 6GB RAM, 128GB 6GB RAM, 128GB 8GB RAM with colour options like	Lightning Blue, Lightning Orange, Lightning Red. The smart -phone is powered by the <span>Qualcomm SM7125 Snapdragon 720G (8 nm)</span> and Non-removable Li-Po 4300 mAh battery.it has support for	Fast charging 30W, 100% in 57 min.</p>
          <a href="{% url 'realme6pro' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="#" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
          <a href="#" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
         </div>
      </div>
    </div>
    <!-- 3 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/realme/realme-6-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Realme 6 : 4/64GB for 14999 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">Realme Release his brand new smartphone <span>Realme 6</span> in india on Released 2020, March 11 and starting from <span> 14999</span>.realme 6 Available at <span>flipkart</span> in lowest prices. This smartphone coming with 4 variants like 64GB 4GB RAM, 128GB 4GB RAM, 128GB 6GB RAM, 128GB 8GB RAM with colour options like Comet Blue and Comet White. The smart -phone is powered by the <span>Mediatek MT6785 Helio G90T (12 nm)</span> and Non-removable Li-Po 4300 mAh battery. it has support for	Fast charging 30W, 100% in 55 min.</p>
          <a href="{% url 'realme6' %}" class="content_spec" class="">Full Specificaton</a>
           <p></p>
          <a href="#" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
          <a href="#" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
         </div>
      </div>
    </div>
    <!-- 4 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/realme/realme-x2-pro-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Realme X2 Pro : 6/64GB for 29,458 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">Realme Release his new smartphone <span>Realme X2 Pro</span> in india on 2019, October and starting from <span> 29,458</span>.realme X2 Pro Available at <span>Amazon</span> in lowest prices. This smartphone coming with 3 variants like 6/64GB, 8/128GB, 12/256GB with colour options like 	Lunar White, Neptune Blue, Red Master Edition and Gray Master Edition. The smart -phone is powered by the <span>Qualcomm SM8150 Snapdragon 855+ (7 nm)</span> and Non-removable Li-Po 4000 mAh battery. it has support for Fast charging 50W, 100% in 35 min .</p>
          <a href="{% url 'realmeX2pro' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="#" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
          <a href="#" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
         </div>
      </div>
    </div>
    <!-- 5 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/realme/realme-x2-1.png' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Realme X2: 4/64GB for 17999 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">Realme Released his new <span>Realme X2</span> in india on 2019, September 24 and starting from<span> 17999</span>.Realme X2 Available at <span>flipkart</span> in lowest prices. This smartphone coming with 4 variants like 4/64GB, 6/64GB, 6/128GB, 8/128GB, 8/256GB with colour options like Pearl White, Pearl Blue and Pearl Green. The smart -phone is powered by the <span>Qualcomm SDM730 Snapdragon 730G (8 nm)</span> and with in display fingerprint. Non-removable Li-Po 4000 mAh battery and It has support for	Fast charging 30W, 67% in 30 min.</p>
          <a href="{% url 'realmeX2' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="#" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
          <a href="#" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
         </div>
      </div>
    </div>
    <!-- 6 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/realme/realme-5-pro-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Realme 5 Pro: 6/64GB for 14999 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">Realme Released his new <span>Realme 5 Pro</span> in india on 2019, September and starting from<span> 14999</span>.Realme 5 Pro Available at <span>flipkart</span> in lowest prices. This smartphone coming with 4 variants like 4/64GB, 6/64GB, 4/128GB, 8/128GB with colour options like 	Crystal Green and Crystal Blue. The smart -phone is powered by the <span>Qualcomm SDM712 Snapdragon 712 (10 nm)</span> and Non-removable Li-Po 4030 mAh battery and It has support for Fast charging 20W, 50% in 30 min.</p>
          <a href="{% url 'realme5pro' %}" class="content_spec" class="">Full Specificaton</a>
           <p></p>
          <a href="#" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
          <a href="#" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
         </div>
      </div>
    </div>
    <!-- 7 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/realme/realme-5s-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Realme 5s: 4/64GB for 10999 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">Realme Released his new <span>Realme 5s</span> in india on 2019, November and starting from<span> 10999</span>.Realme 5s Available at <span>flipkart</span> in lowest prices. This smartphone coming with 2 variants like	64GB 4GB RAM, 128GB 4GB RAM with colour options like Crystal Purple, Crystal Blue, Crystal Red. The smart -phone is powered by the <span>Qualcomm SDM665 Snapdragon 665 (11 nm)</span> and Non-removable Li-Po 5000 mAh battery.</p>
          <a href="{% url 'realme5s' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="#" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
          <a href="#" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
         </div>
      </div>
    </div>
    <!-- 8 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/realme/realme-xt-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Realme XT: 4/64GB for 16999 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">Realme Released his new <span>Realme XT</span> in india on 	2019, September 13 and starting from<span> 16999</span>.Realme XT Available at <span>flipkart</span> in lowest prices. This smartphone coming with 3 variants like 64GB 4GB RAM, 64GB 6GB RAM, 128GB 8GB RAM with colour options like Pearl White, Pearl Blue. The smart -phone is powered by the <span>Qualcomm SDM712 Snapdragon 712 (10 nm)</span> and Non-removable Li-Po 4000 mAh battery. it has support for Fast charging 20W.</p>
          <a href="{% url 'realmeXT' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="#" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
          <a href="#" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
          </div>
      </div>
    </div>
    <!-- 9 -->
    <!-- <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/mi/xiaomi.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Realme Narzo 10: 4/64GB for 11999 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">Realme Released his new <span>Realme Narzo 10</span> in india on 2020, February 05 and starting from<span> 8999</span>.Realme C3 Available at <span>flipkart</span> in lowest prices. This smartphone coming with 1 variants like 128GB 4GB RAM with colour options like Just Black, Just White. The smart -phone is powered by the <span>Qualcomm SDM712 Snapdragon 712 (10 nm)</span> and	Non-removable Li-Po 4300 mAh battery. it has support for Fast charging 30W, 100% in 55 min.</p>
          <a href="{% url 'narzo' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="#" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
          <a href="#" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
          <p></p>
          </div>
      </div>
    </div> -->
    <!-- 10 -->
    <div class="content">
      <div class="content_body">
        <div class="content_img">
          <img  src="{% static 'image/mobile/realme/realme-c3-1.jpg' %}" alt="">
        </div>
        <div class="content_info">
          <h1 class="content_tittle"><span>REVIEW</span> Realme C3: 3/32GB for 8999 Watch Full review-<a href="http://www.youtube.com">http://www.youtube.com </a></h1>
          <p class="content_text">Realme Released his new <span>Realme C3</span> in india on 2020, June 23 and starting from<span> 11999</span>.Realme C3 Available at <span>flipkart</span> in lowest prices. This smartphone coming with 4 variants like 32GB 2GB RAM, 32GB 3GB RAM, 64GB 4GB RAM, 64GB 3GB RAM with colour options like 	Frozen Blue, Blazing Red. The smart -phone is powered by the <span>Mediatek Helio G70 (12 nm)</span> and	Non-removable Li-Po 5000mAh battery.</p>
          <a href="{% url 'realmeC3' %}" class="content_spec" class="">Full Specificaton</a>
          <p></p>
          <a href="#" class="affilated-link_amazon"><button type="button" class="btn btn-primary">Click here to Buy form amazon</button></a>
          <a href="#" class="affilated-link_flipcart"><button type="button" class="btn btn-outline-primary">Click here for current price </button></a>
          <p></p>
         </div>
      </div>
    </div>
    {% endblock content%}
